/* Боковое навигационное меню */
.sidenav {
  height: 100%; /* 100% Рост в полный рост */
  width: 0; /* ширина 0 - измените это значение с помощью JavaScript */
  position: fixed; /* Оставайтесь на месте */
  z-index: 1; /* Оставайтесь на вершине */
  top: 0; /* Оставайтесь на вершине */
  left: 0;
  background-color: #111; /* Черный*/
  overflow-x: hidden; /* Отключить горизонтальную прокрутку */
  padding-top: 60px; /* Размещайте контент на расстоянии 60 пикселей сверху */
  transition: 0.5s; /* 0,5-секундный эффект перехода к слайду в боковой панели */
}

/* Ссылки на навигационное меню */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f5f2f2;
  display: block;
  transition: 0.3s;
}

/* При наведении курсора мыши на навигационные ссылки измените их цвет */
.sidenav a:hover {
  color: #203fec;
}

/* Расположите и оформите кнопку закрытия (в правом верхнем углу) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Стилизовать содержимое страницы - используйте это, если вы хотите переместить содержимое страницы вправо при открытии боковой навигации. */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* На экранах меньшего размера, где высота меньше 450 пикселей, измените стиль боковой панели (уменьшите отступы и размер шрифта). */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
